.header {
  background-color: #000000;
  color:#FFFFFF;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-decoration-line: underline;
}
.main_image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: auto;
}
.footer {
  background-color: #000000;
  color:#FFFFFF;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-decoration-line: underline;
}
.car_models {
  width: 25%;
  height: auto;
  background-color: #000000;
  color:#FFFFFF;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-decoration-line: underline;
}
#poll {
  background-color: #000000;
  color:#FFFFFF;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-decoration-line: underline;
  }
  .content {
    background-color: #000000;
    color:#FFFFFF;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-decoration-line: underline;
  }
  .row {
    display: flex;
  }
  .column {
    flex: 33.3%;
    padding: 5px;

  }
.title {
  color:#FFFFFF;
}
.sub_footer {
  background-color: #000000;
  color:#FFFFFF;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-decoration-line: underline;
}
