.header {
  border-style:solid;
  background-color: #000000;
  color:#FFFFFF;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-decoration-line: underline;
}
.main_image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: auto;
}
.footer {
  border-style:solid;
  background-color: #000000;
  color:#FFFFFF;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-decoration-line: underline;
}
.car_models {
  width: 25%;
  height: auto;
  display: inline-block;
  float:left;
  margin: 0px;
  padding: 0px;
}
#poll {
  border-style:solid;
  background-color: #000000;
  color:#FFFFFF;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-decoration-line: underline;
  }
